
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}



.container{
    text-align: center;
    margin: 0 auto;
    padding: 1.25rem;

}

.container li{
    padding: 0.5rem;
    list-style-type: none;
}

#main-container {
  margin: 0;
  padding: 0;
}


.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1.25rem;
}

.image-wrapper a{
    padding: 1rem;
}

.image-wrapper img{
    transition: transform 0.3s ease-in-out;
}
.image-wrapper img:hover {
    transform: scale(1.2);
}

