@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
background-color: #c2c2eb;
background-image: linear-gradient(43deg, #c2c2eb 0%, #d697d1 46%, #FFCC70 100%);
    text-shadow: 0 20px 40px rgba(0,0,0,.5);

}



/* Existing CSS styles */

#navs {
  background: antiquewhite;
  height: 3.5rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Optional: Add some padding on the left and right to create space */
}

.home-icon {
  margin-right: 50px; /* Add some spacing between the home icon and other links */
}

#navs a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  padding: 5px 10px; /* Adjust the padding as needed */
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#navs a:hover {
  background-color: #555;
}


/* Dropdown Button */
.dropbtn {
  /*background-color: #3498DB;*/
  color: black;
  padding: 0;
  font-size: 34px;
  border: none;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Dropdown button on hover & focus */
.dropdown-btn:hover, .dropdown-btn:focus {
  /*background-color: #2980B9;*/
  /*rotate: 90deg;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: -20px; /* Adjust this value as needed to position the dropdown to the left */
  width: 100vw;
  box-sizing: border-box;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    text-align: right;
  left: 0; /* Align the left edge of the dropdown with the left edge of the viewport */
  right: 0;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.rotate {
  transform: rotate(90deg);
  /* Add any other necessary styles for the rotated button */
}



/* Footer CSS */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

.footer {
  background: red;
  width: 100%;
  padding: 1rem;
  color: white;
  text-align: center;
  font-size: 11px;
}
/* DARK MODE */
.dark-mode {
  background-color: #0f132f;
  background-image: linear-gradient(43deg, #0f132f 0%, #4c1f48 46%, #7d5e23 100%);
  color: white;
}

.bol {
    font-weight: bold;
    white-space: nowrap;


}

.no-dropdown{
  display: none;
}

@media (min-width: 768px) {
  /* Hide the dropdown button */
  .dropdown {
    display: none;
  }


  #navs a {
    display: inline-block;
  }

  .no-dropdown{
    display: inline-block;
  }
  .container{
    /*max-width: 50vw;*/
  }
}


#main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.container {
    padding: 20px;
    margin-bottom: 20px;
}


h1, h2, h3 {
    margin-bottom: 10px;
}


li {
    margin-bottom: 10px;
}

.container li {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

#navs {
    position: sticky;
    top: 0;
    z-index: 9;
}