<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../static/style.css">


      <title>{% block title %}Home{% endblock %}</title>

  </head>
    <body>
<nav id="navs">
  <div class="nav-container">
    <a class="nav-item nav-link home-icon" id="home" href="/">
      <img src="../static/img/home-icon.png" alt="home" width="40">
    </a>
    {% if user.is_authenticated %}
      <div class="dropdown">
      <button onclick="dropdownMenu()" class="dropdown-btn dropbtn">&equiv;</button>
<div id="myDropdown" class="dropdown-content">
  <a class="nav-item nav-link" id="profile" href="{{ url_for('views.profile', username=user.nick_name) }}">Profile</a>
  <a class="nav-item nav-link" id="quiz" href="/quiz">Quiz</a>
  <a class="nav-item nav-link" id="leaderboard" href="/leaderboard">Ranking</a>
  <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
</div>
          </div>
    {% else %}
    <a class="nav-item nav-link" id="login" href="/login">Login</a>
    <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
    {% endif %}
  </div>
</nav>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>



    <script src="../static/scripthome.js"></script>
    </body>
</html>