{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/homestyle.css">
<br><br>
<div id="main-container">
    <div class="container">
        <h1>Welcome to the QuizMaster App!</h1>
        <p>Are you ready to put your knowledge to the test? Get ready to embark on an exciting journey of learning, challenges,
            and fun with the QuizMaster App! Whether you're a trivia enthusiast, a curious learner, or just looking to have a
            good time, our quiz app has something in store for everyone.</p>
    </div>

    <div class="container">
        <h2>Why Choose QuizMaster?</h2>

        <li><span class="bol">Diverse Quiz Categories:</span> Explore a wide range of quiz categories that cater to all interests. From General
            Knowledge, History, Science, and Geography to Movies, Music, Sports, and more – there's a quiz for every passion!</li>

        <li><span class="bol">Challenge Yourself:</span> Push your limits and test your knowledge with our thought-provoking and brain-teasing questions.
        Can you become a QuizMaster and conquer every quiz?</li>

        <li><span class="bol">Learn While Playing:</span> The QuizMaster App isn't just about fun; it's an opportunity to learn new facts, trivia, and
        interesting tidbits. Expand your knowledge while enjoying our engaging quizzes.</li>

        <li><span class="bol">Compete with Friends:</span> Invite your friends to join the quiz fun and see who can earn the highest score. Bragging
            rights await the ultimate QuizMaster!</li>

        <li><span class="bol">Unlock Achievements:</span> As you progress through quizzes, you'll unlock exciting achievements and badges. Show off your
        accomplishments and collect them all!</li>

        <li><span class="bol">User-Friendly Interface:</span> Our app boasts a sleek and user-friendly interface, ensuring a seamless experience as you
        navigate through quizzes and features.</li>
    </div>
    <div class="container">
        <h2>How to Play:</h2>


        <li><span class="bol">Sign Up or Log In:</span> Create an account or log in if you already have one. Don't worry; it's quick and easy!</li>

        <li><span class="bol">Select a Quiz:</span> Browse through the various quiz categories and choose the one that sparks your interest.</li>

        <li><span class="bol">Answer Questions:</span> Once you've selected a quiz, dive into the questions and select your answers. Remember, the
            clock might be ticking, so think fast!</li>

        <li><span class="bol">Submit and Score:</span> After answering all the questions, submit your answers to see your final score and find out
            how well you did.</li>

        <li><span class="bol">Challenge Friends:</span> Find your friends and follow their scores</li>

        <li><span class="bol">Keep Exploring:</span> There are plenty of quizzes to keep you entertained and learning. Keep coming back for more
            challenges and knowledge.</li>
    </div>


<h2>Join the QuizMaster community today and let the quizzing adventure begin!</h2>


    <div class="container">
        <h3>Follow us on social media for updates, new quizzes, and exciting competitions.</h3>

            <div class="image-wrapper">
                <a href="/"><img src="../static/img/Facebook_logo.svg" alt="facebook" width="50"></a>
                <a href="/"><img src="../static/img/Instagram_logo.svg" alt="instagram" width="50"></a>
                <a href="/"><img src="../static/img/Twitter_logo.svg" alt="twitter" width="50"></a>
    </div>
    <div class="container">
        <p>For any questions, feedback, or support, feel free to reach out to our friendly customer support team
            <div class="image-wrapper">
            <a href="mailto:kuszczynski.adam@gmail.com"><img src="../static/img/icons8-mail-48.png" alt="mail" width="50"></a>
            </div>
        Let's get quizzing and have a blast!
        </p>
    </div>

</div>
</div>

{% endblock %}