{% extends "base.html" %}

{% block title %}Ranking{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/leaderboardstyle.css">
<div id="main-container">
    <h1>Leaderboard</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Username</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="/user/{{ user.nick_name }}">{{ user.nick_name }}</a></td>
                <td>{{ user.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
