{% extends "base.html" %}
{% block title %}Quiz{% endblock %}

{% block content %}
<h3>{{ question.question }}</h3>
<form action="{{ url_for('views.submit_answer', question_id=question.question_id, question_index=current_question_index) }}" method="post">
    <input type="hidden" name="question_id" value="{{ question.question_id }}">
    {% for choice in choices %}
        {% if choice.question_id == question.question_id %}
            <input type="radio" name="choice" value="{{ choice.choice_id }}"> {{ choice.choice }}<br>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Submit">
</form>
{% endblock %}