@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500&family=Nunito:wght@200&family=Roboto:wght@100&display=swap');
/* || RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    text-shadow: 0 20px 40px rgba(0,0,0,.5);
}


#navs ul {

}

#navs li {



}

/* Existing CSS styles */

#navs {
  background: antiquewhite;
  height: 3.5rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Optional: Add some padding on the left and right to create space */
}

.home-icon {
  margin-right: 50px; /* Add some spacing between the home icon and other links */
}

#navs a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  padding: 5px 10px; /* Adjust the padding as needed */
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#navs a:hover {
  background-color: #555;
}

